.movies {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 35px;
}

.movie {
    background: white;
    border-bottom-right-radius: 50px;
}

.movie:hover {
    opacity: 0.8;
}

.star {
    max-width: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pagination {
    display: flex;
    margin-left: 50%;
    margin-top: 50px;
    gap: 10px;
}

.footer {
    position: absolute;
    height: 50px;
    width: 100%;
    margin-top: 50px;
    background: #3C3D3D;
    opacity: 0.9;
}

.prev {
    background: #292A2A;
    border: 0;
    height: 30px;
    width: 50px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}

.next {
    background: #292A2A;
    border: 0;
    height: 30px;
    width: 50px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.movieLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.pagination button {
    font-size: 15px;
    color: #F6F6F6;
}