.searcher {
    background: #45B1FF;
    position: relative;
    margin-left: 100px;
    border: none;
    color: white;
    border: 0;
    outline: none;
    padding: 0 20px;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    font-size: 18px;
}