.genres {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 7px;
    max-width: 180px;
    margin-top: 25px;
    font-size: 13px;
    padding-bottom: 10px;
}

.genre {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background: #231F14;
    color: #F6F6F6;
    opacity: 0.8;
}